body{
  margin :0;
  font-family: Helvetica;
}

.img{
  height: 90px;
  width: 120px;
  border-radius: 60px 20px;
  padding: 20px 0 0 10px;

}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
